@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    /* font-family: 'Wix Madefor Text', sans-serif; */
    font-family: 'Lato', sans-serif;
}
.App{
    min-height: 100vh;
}
html{
    scroll-behavior: smooth;
}
  